<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input type="text" name="termino" class="form-control" [(ngModel)]="termino" placeholder="Bucar país...">
        </form>
    </div>
</div>

<hr>

<div class="alert alert-danger">
    No se encontró nada con el término
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> # </th>
                    <th> Bandera </th>
                    <th> Nombre </th>
                    <th> Población </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> 1 </th>
                    <th> bandera </th>
                    <th> nombre </th>
                    <th> 12342353 </th>
                    <th> <a href="">Ver...</a></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>